#results,
.input-field {
	display: inline-block;
	background-color: #f4f4f4;
	border-radius: 8px;
	padding: 1ex 2ex;
	margin: 1ex;
}
#results {
	border: 5px solid green;
	text-align: left;
}
#results.perfect {
	background-color: #f2fff2;
}
#results.blackout {
	border: 5px solid red;
	background-color: #fff2f2;
}
#results table {
	border-collapse: collapse;
}
#results td {
	padding: 4px 7px;
}
.power-required > * {
	background-color: #fafffa;
}
.input-field > * {
	display: inline-block;
	vertical-align: middle;
}
.slider-vertical {
	margin-left: 1ex;
	height: 100px;
}
label {
	font-weight: bold;
}
input[type="text"] {
	width: 5ex;
}
.france {
	margin-top: 1ex;
	font-size: 90%;
}

td.result {
	font-weight: bold;
	text-align: right;
}
td.comment {
	width: 22ex;
}
p {
	max-width: 120ex;
	margin: 1ex auto;
}
p.alert {
	padding: 1ex 2ex;
}
.alert {
	background-color: #F0D0D0;
}
tr.sep {
	border-top: 1px dotted black;
}

#charts {
	text-align: center;
}
.doughnut-legend {
	padding-left: 0;
}

figure {
	display: inline-block;
	width: 520px;
}
figcaption {
	text-align: center;
	font-family: sans-serif;
}

.doughnut-legend {
	float: left;
	text-align: left;
}
.doughnut-legend li {
	list-style: none;
}
.doughnut-legend span {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 1ex;
}

#status {
	text-align: center;
}
#status button {
	padding: 1ex 2ex;
	font-size: 16px;
	*border: 0;
	border-radius: 4px;
}
#status button.active {
	background-color: #A0A0EE;
}

.hidden {
	display: none;
}

footer {
	text-align: center;
	font-size: 80%;
	background-color: #F8F8F8;
	padding: 1ex 5ex;
	margin: 4ex 0;
}
.lastname {
	font-variant: small-caps;
	font-size: 105%;
}
#licence a {
	text-decoration: none;
}


#tabs.ui-tabs .ui-tabs-nav li {
	float: right;
}
.ui-widget-content {
	font-family: inherit;
	font-size: inherit;
}


#tabs-parametres > p {
	border-radius: 4px;
}
#tabs-parametres dl dt {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
}
table td,
table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
	// seps
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #cbcbcb;
}
table th {
	text-align: center;
}
table td:first-child,
table th:first-child {
    border-left-width: 0;
}
table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
table.striped tr:nth-child(2n-1) td {
	background-color: #f2f2f2;
}
table.parametres tbody > tr:last-child > td {
	border-bottom-width: 0;
}

table.parametres td {
	text-align: right;
}
table.parametres td:first-child {
	text-align: left;
}

.ui-slider-range.ui-widget-header {
	background: #7D85E2;
}

#carbon-cost {
	display: inline-block;
	padding: 1ex 3ex;
	background-color: #FFEDED;
}
#carbon-cost .title {
	font-weight: bold;
	text-align: center;
}

